# Using glob syntax
syntax: glob

**/.env
**/.mypy_cache
**/__pycache__
**/.python-version
**/venv
**/*.log
*.db
*.egg
*.egg-info/
*.idea
*.py[cod]
*.so
*.map
build/
dist/
models/

# Using regexp syntax
syntax: regexp
